NEXT_PUBLIC_PRODUCTION_URL='https://spotify-clone.nicitaa.com/'

# login: same as for 14
NEXT_PUBLIC_SUPABASE_URL=''
NEXT_PUBLIC_SUPABASE_ANON_KEY=''
SUPABASE_SERVICE_ROLE_KEY=''

GITHUB_CLIENT_ID=''
GITHUB_CLIENT_SECRET=''

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=''
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''

# For Cloudflare robot protection
NEXT_PUBLIC_CLOUDFLARE_SITE_KEY=''
TURNSTILE_SECRET_KEY=''
